body{
    background: grey url('../images/rabbit 1.jpg') no-repeat fixed;
    background-size: 50px 70px;
}


div{
    background-size: 50px 70px;
   /* background-image: url('../images/rabbit 1.jpg');    
    background-repeat: no-repeat; */
    background-position: center;
}

    
